[meta]
run_name = "TGCN_T30_quantiles_train2005_2018_val2019_fixed"

[data]
seq_dir = "/xdisk/behrangi/omidzandi/GNNs/gnn_precipitation_retrieval/data/pyg_sequences_tgcn_T030_all_years"
batch_size = 8
num_workers = 4
train_years = [2005, 2018]
val_years   = [2019, 2019]
test_years  = [2020, 2024]

[loss]
name = "quantile"           # mse / huber / quantile
n_quantiles = 32
crossing_weight = 0.0
delta = 1.0

[model]
in_channels = 2
hidden_dim = 128
add_self_loops = true
improved = false
rnn_layers = 2
gcn_layers = 2

[optim]
lr = 5e-4
weight_decay = 0.0

[scheduler]
name = "CosineAnnealingLR"  # none / CosineAnnealingLR
t_max = 100
eta_min = 0.0

[transform]
x_transform = "none"
y_transform = "none"
x_clip_min = 0.0
y_clip_min = 0.0

[trainer]
max_epochs = 100
precision = "16-mixed"
log_every_n_steps = 20
devices = 2
num_nodes = 5
accelerator = "gpu"
strategy = "ddp"