# configs/tgcn_train.toml

[meta]
run_name = "TGCN_T14_train2005_2018_val2019"

[data]
seq_dir = "/xdisk/behrangi/omidzandi/GNNs/gnn_precipitation_retrieval/data/pyg_sequences_tgcn_T14"
batch_size = 16
num_workers = 4

# year-based split
train_years = [2005, 2018]
val_years   = [2019, 2019]
test_years  = [2020, 2024]

[model]
in_channels = 2
hidden_dim = 128
add_self_loops = true
improved = false
rnn_layers = 2
gcn_layers = 2

[optim]
lr = 1e-3
weight_decay = 0.0

[trainer]
max_epochs = 5
precision = "16-mixed"
log_every_n_steps = 20

# DDP / multi-node settings (Lightning)
devices = 2        # GPUs per node
num_nodes = 5      # number of nodes
accelerator = "gpu"
strategy = "ddp"   # or "ddp_find_unused_parameters_false" if you want explicit

